body {
  background-color: #E2DEA9;
}
hr {
  border-style: groove;
  border-color: grey;
}
h1 {
  color: green;
}
h3 {
  color: green;
}
a:hover {
  color: gray;
}
a {
  color: black;
  text-decoration: none;
}
